<div class="container">
  <div class="form">
    <div style="text-align:center">
      <h1>{{title}}</h1>
    </div>
    <md-dynamic-forms-core [config]="config"
                           [value]="initialValue"
                           (submitChange)="submit($event)"
                           (formChange)="form = $event">
    </md-dynamic-forms-core>
  </div>
  <div class="debug-data">
    <div class="debug-container">
      <h2>Form-Value</h2>
      <pre>{{form.value | json}}</pre>
      <pre>{{form.valid | json}}</pre>
    </div>
    <div class="debug-container">
      <h2>Config-Value</h2>
      <pre>{{config | json}}</pre>
    </div>
  </div>
</div>
